In [5]:
import pandas as pd

free_from = pd.read_csv("freeFormResponses.csv")

/tmp/ipykernel_1073633/1730731019.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  free_from = pd.read_csv("freeFormResponses.csv")

In [7]:
free_from.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23860 entries, 0 to 23859
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Q11_OTHER_TEXT   545 non-null    object
 1   Q12_OTHER_TEXT   1710 non-null   object
 2   Q12_Part_1_TEXT  3927 non-null   object
 3   Q12_Part_2_TEXT  1448 non-null   object
 4   Q12_Part_3_TEXT  1134 non-null   object
 5   Q12_Part_4_TEXT  9553 non-null   object
 6   Q12_Part_5_TEXT  1353 non-null   object
 7   Q13_OTHER_TEXT   1193 non-null   object
 8   Q14_OTHER_TEXT   499 non-null    object
 9   Q15_OTHER_TEXT   575 non-null    object
 10  Q16_OTHER_TEXT   597 non-null    object
 11  Q17_OTHER_TEXT   114 non-null    object
 12  Q18_OTHER_TEXT   162 non-null    object
 13  Q19_OTHER_TEXT   449 non-null    object
 14  Q1_OTHER_TEXT    80 non-null     object
 15  Q20_OTHER_TEXT   94 non-null     object
 16  Q21_OTHER_TEXT   492 non-null    object
 17  Q22_OTHER_TEXT   95 non-null     object
 18  Q27_OTHER_TEXT   308 non-null    object
 19  Q28_OTHER_TEXT   186 non-null    object
 20  Q29_OTHER_TEXT   532 non-null    object
 21  Q30_OTHER_TEXT   203 non-null    object
 22  Q31_OTHER_TEXT   228 non-null    object
 23  Q32_OTHER        52 non-null     object
 24  Q33_OTHER_TEXT   368 non-null    object
 25  Q34_OTHER_TEXT   15938 non-null  object
 26  Q35_OTHER_TEXT   539 non-null    object
 27  Q36_OTHER_TEXT   1061 non-null   object
 28  Q37_OTHER_TEXT   338 non-null    object
 29  Q38_OTHER_TEXT   1361 non-null   object
 30  Q42_OTHER_TEXT   209 non-null    object
 31  Q49_OTHER_TEXT   171 non-null    object
 32  Q50_OTHER_TEXT   432 non-null    object
 33  Q6_OTHER_TEXT    1323 non-null   object
 34  Q7_OTHER_TEXT    935 non-null    object
dtypes: object(35)
memory usage: 6.4+ MB

In [8]:
free_from

,Q11_OTHER_TEXT,Q12_OTHER_TEXT,Q12_Part_1_TEXT,Q12_Part_2_TEXT,Q12_Part_3_TEXT,Q12_Part_4_TEXT,Q12_Part_5_TEXT,Q13_OTHER_TEXT,Q14_OTHER_TEXT,Q15_OTHER_TEXT,...,Q34_OTHER_TEXT,Q35_OTHER_TEXT,Q36_OTHER_TEXT,Q37_OTHER_TEXT,Q38_OTHER_TEXT,Q42_OTHER_TEXT,Q49_OTHER_TEXT,Q50_OTHER_TEXT,Q6_OTHER_TEXT,Q7_OTHER_TEXT
0,Select any activities that make up an importan...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,What is the primary tool that you use at work ...,Which of the following integrated development ...,Which of the following hosted notebooks have y...,Which of the following cloud computing service...,...,During a typical data science project at work ...,What percentage of your current machine learni...,On which online platforms have you begun or co...,On which online platform have you spent the mo...,Who/what are your favorite media sources that ...,What metrics do you or your organization use t...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,Select the title most similar to your current ...,In what industry is your current employer/cont...
1,NaN,NaN,NaN,NaN,NaN,"Jupyter Notebooks, Pycharm, Intelijidea",NaN,NaN,NaN,NaN,...,0.0,NaN,mlcourse.ai,NaN,ods.ai,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,anaconda,NaN,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23855,NaN,NaN,NaN,SPSS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23856,NaN,NaN,NaN,NaN,NaN,NaN,"Apache Spark, Hadoop",NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23857,NaN,NaN,NaN,NaN,NaN,"JupyterLab, RStudio",NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23858,NaN,NaN,Excel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23859,NaN,NaN,NaN,NaN,NaN,"Hadoop, Cloudera",NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
multiple_choice = pd.read_csv("multipleChoiceResponses.csv")

/tmp/ipykernel_1073633/457878530.py:1: DtypeWarning: Columns (0,2,8,10,21,23,24,25,26,27,28,42,44,54,56,64,81,83,85,87,105,107,109,121,123,125,148,150,157,172,174,192,194,210,218,219,221,223,246,247,249,262,264,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,302,304,306,325,326,329,341,368,371,384,385,389,390,391,393,394) have mixed types. Specify dtype option on import or set low_memory=False.
  multiple_choice = pd.read_csv("multipleChoiceResponses.csv")

In [10]:
multiple_choice

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
0,Duration (in seconds),What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education ...,Which best describes your undergraduate major?...,Select the title most similar to your current ...,Select the title most similar to your current ...,In what industry is your current employer/cont...,...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...
1,710,Female,-1,45-49,United States of America,Doctoral degree,Other,Consultant,-1,Other,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,434,Male,-1,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,621,Male,-1,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,-1,NaN,...,-1,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23855,575,Male,-1,45-49,France,Doctoral degree,"Computer science (software engineering, etc.)",Chief Officer,-1,Computers/Technology,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23856,131,Female,-1,25-29,Turkey,Master’s degree,Engineering (non-computer focused),NaN,-1,NaN,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23857,370,Male,-1,22-24,Turkey,Master’s degree,"Computer science (software engineering, etc.)",Software Engineer,-1,Computers/Technology,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23858,36,Male,-1,25-29,United Kingdom of Great Britain and Northern I...,NaN,NaN,NaN,-1,NaN,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23859,502,Male,-1,25-29,Spain,Master’s degree,Mathematics or statistics,NaN,-1,NaN,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1

In [11]:
multiple_choice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23860 entries, 0 to 23859
Columns: 395 entries, Time from Start to Finish (seconds) to Q50_OTHER_TEXT
dtypes: object(395)
memory usage: 71.9+ MB

In [14]:
multiple_choice.head()

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
0,Duration (in seconds),What is your gender? - Selected Choice,What is your gender? - Prefer to self-describe...,What is your age (# years)?,In which country do you currently reside?,What is the highest level of formal education ...,Which best describes your undergraduate major?...,Select the title most similar to your current ...,Select the title most similar to your current ...,In what industry is your current employer/cont...,...,What tools and methods do you use to make your...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...,What barriers prevent you from making your wor...
1,710,Female,-1,45-49,United States of America,Doctoral degree,Other,Consultant,-1,Other,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
2,434,Male,-1,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,0,Manufacturing/Fabrication,...,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
4,621,Male,-1,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,-1,NaN,...,-1,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1

In [27]:
df = pd.DataFrame(multiple_choice, columns=[
    "Q19_Part_1", "Q19_Part_2", "Q19_Part_3", "Q19_Part_4",
    "Q19_Part_5", "Q19_Part_6", "Q19_Part_7", "Q19_Part_8", "Q19_Part_9", "Q19_Part_10",
    "Q19_Part_11", "Q19_Part_12", "Q19_Part_13", "Q19_Part_14", "Q19_Part_15", "Q19_Part_16",
    "Q19_Part_17"
])

In [28]:
df

,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_Part_6,Q19_Part_7,Q19_Part_8,Q19_Part_9,Q19_Part_10,Q19_Part_11,Q19_Part_12,Q19_Part_13,Q19_Part_14,Q19_Part_15,Q19_Part_16,Q19_Part_17
0,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...,What machine learning frameworks have you used...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Scikit-Learn,TensorFlow,Keras,NaN,Spark MLlib,NaN,NaN,NaN,NaN,Xgboost,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23855,Scikit-Learn,TensorFlow,NaN,PyTorch,NaN,NaN,NaN,Mxnet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Caffe
23856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
q19_cols = [c for c in df.columns if c.startswith("Q19_Part_")]

In [34]:
df_long = df[q19_cols].melt(
    var_name="Part",         
    value_name="Framework"
)

In [35]:
df_long

               Part                                          Framework
0        Q19_Part_1  What machine learning frameworks have you used...
1        Q19_Part_1                                                NaN
2        Q19_Part_1                                                NaN
3        Q19_Part_1                                                NaN
4        Q19_Part_1                                       Scikit-Learn
...             ...                                                ...
405615  Q19_Part_17                                              Caffe
405616  Q19_Part_17                                                NaN
405617  Q19_Part_17                                                NaN
405618  Q19_Part_17                                                NaN
405619  Q19_Part_17                                                NaN

[405620 rows x 2 columns]

In [36]:
df_long = df_long.dropna(subset=["Framework"])

In [39]:
counts = (
    df_long
    .groupby("Framework")
    .size()
    .sort_values(ascending=False)
    .reset_index(name="Count")
)

In [40]:
counts

                                            Framework  Count
0                                        Scikit-Learn  12249
1                                          TensorFlow   9981
2                                               Keras   8136
3                                        randomForest   5967
4                                             Xgboost   5571
5                                             PyTorch   3826
6                                               Caret   2220
7                                            lightgbm   2099
8                                         Spark MLlib   2055
9                                                 H20   1307
10                                              Caffe   1101
11                                             Fastai   1099
12                                           catboost   1037
13                                               CNTK    744
14                                            Prophet    732
15                                              Mxnet    594
16                                                mlr    528
17  What machine learning frameworks have you used...      1
18  What machine learning frameworks have you used...      1
19  What machine learning frameworks have you used...      1
20  What machine learning frameworks have you used...      1
21  What machine learning frameworks have you used...      1
22  What machine learning frameworks have you used...      1
23  What machine learning frameworks have you used...      1
24  What machine learning frameworks have you used...      1
25  What machine learning frameworks have you used...      1
26  What machine learning frameworks have you used...      1
27  What machine learning frameworks have you used...      1
28  What machine learning frameworks have you used...      1
29  What machine learning frameworks have you used...      1
30  What machine learning frameworks have you used...      1
31  What machine learning frameworks have you used...      1
32  What machine learning frameworks have you used...      1
33  What machine learning frameworks have you used...      1